src/**
test/**
node_modules/**
.vscode/**
*.vsix
tsconfig.json
esbuild.mjs
package-lock.json
.gitignore
.gitattributes
coverage/**
.prettierignore
.prettierrc.json
artifacts/**
scripts/**
.playwright-mcp/**
.github/**
*.log
.vsce
*.pem
*.key
